<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
</head>
<body>

<div class="accordion-group">
    <div class="accordion-heading">
        <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <legend>查詢 CDR <i class="icon-chevron-down"></i></legend>
        </div>
    </div>
    <div id="collapseTwo" class="accordion-body collapse in">
        <div class="accordion-inner">

<form class="form-horizontal" method="post">
    <fieldset>
        <!--<legend>查詢 CDR</legend>-->

        <table class="table table-hover table-condensed borderless">
            <caption></caption>
            <thead>
            <tr>
            <tr>
                <th id="name0">名稱</th>
                <th id="field0">field</th>
                <th id="input0">input</th>
                <th id="sample0">sample</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td id="name16">Call Transaction Type</td>
                <td id="field16"><label for="CALLTRANSACTIONTYPE">CALLTRANSACTIONTYPE</label></td>
                <td id="input16"><input type="text" class="input-medium" id="CALLTRANSACTIONTYPE" name="CALLTRANSACTIONTYPE"/></td>
                <td id="sample16">1 [1:MOC/2:MTC]</td>
            </tr>
            <tr>
                <td id="name17">日期</td>
                <td id="field17"><label for="STARTOFCHARGINGDATE">STARTOFCHARGINGDATE</label></td>
                <td id="input17"><input type="text"  class="input-medium" id="STARTOFCHARGINGDATE" name="STARTOFCHARGINGDATE" placeholder="regular"/></td>
                <td id="sample17">2015-01-05</td><!--type="date"-->
            </tr>
            <tr>
                <td id="name13">時間</td>
                <td id="field13"><label for="TIMESTAMP">TIMESTAMP</label></td>
                <td id="input13"><input type="text"  class="input-medium" id="TIMESTAMP" name="TIMESTAMP" placeholder="regular"/></td>
                <td id="sample13">10:30:36</td><!--type="datetime-local"-->
            </tr>

            <tr>
                <td id="name4">卡別(SIM TYPE)</td>
                <td id="field4"><label for="SERVEDIMSI">SERVEDIMSI</label></td>
                <td id="input4"><input type="text" class="input-medium" id="SERVEDIMSI" name="SERVEDIMSI"/></td>
                <td id="sample4">466974103328587</td>
            </tr>
            <tr>
                <td id="name3">手機IMEI</td>
                <td id="field3"><label for="SERVEDIMEI">SERVEDIMEI</label></td>
                <td id="input3"><input type="text" class="input-medium" id="SERVEDIMEI" name="SERVEDIMEI"/></td>
                <td id="sample3">8685900000144478</td>
            </tr>
            <tr>
                <td id="name5">業者</td>
                <td id="field5"><label for="OTHERMSRN">OTHERMSRN</label></td>
                <td id="input5"><input type="text" class="input-medium" id="OTHERMSRN" name="OTHERMSRN"/></td>
                <td id="sample5">1419919196139</td>
            </tr>
            <tr>
                <td id="name10">交換機</td>
                <td id="field10"><label for="EXCHANGEID">EXCHANGEID</label></td>
                <td id="input10"><input type="text" class="input-medium" id="EXCHANGEID" name="EXCHANGEID"/></td>
                <td id="sample10">CHAMSC2</td>
            </tr>
            <tr>
                <td id="name11">結束碼</td>
                <td id="field11"><label for="CAUSEFORTERMINATION">CAUSEFORTERMINATION</label></td>
                <td id="input11"><input type="text" class="input-medium" id="CAUSEFORTERMINATION" name="CAUSEFORTERMINATION"/></td>
                <td id="sample11">0</td>
            </tr>
            <tr>
                <td id="name2">被叫號碼</td>
                <td id="field2"><label for="MCRDESTINATIONNUMBER">MCRDESTINATIONNUMBER</label></td>
                <td id="input2"><input type="text" class="input-medium" id="MCRDESTINATIONNUMBER" name="MCRDESTINATIONNUMBER"/></td>
                <td id="sample2">1419931982034</td>
            </tr>

            <!-- <tr>
            <td id="name8">Last MCC</td> <td id="field8"><label for="calling_subs_last_mcc">calling_subs_last_mcc</label></td>
            <td id="input8"><input type="text" class="input-large" id="calling_subs_last_mcc" name="calling_subs_last_mcc"/></td>
            <td id="sample8">466</td>
            </tr>-->
            <tr>
            <td id="name9">Last MNC</td>
            <td id="field9"><label for= "LASTCELLID_MCCMNC">LASTCELLID_MCCMNC</label></td>
            <td id="input9"><input type="text" class="input-medium" id="LASTCELLID_MCCMNC" name="LASTCELLID_MCCMNC"/></td>
            <td id="sample9">466 97</td>
            </tr>
            <tr>
                <td id="name7">Last LAC</td>
                <td id="field7"><label for="LASTCELLID_LAC">LASTCELLID_LAC</label></td>
                <td id="input7"><input type="text" class="input-medium" id="LASTCELLID_LAC" name="LASTCELLID_LAC"/></td>
                <td id="sample7">30309</td>
            </tr>
            <tr>
                 <td id="name6">Last CellID</td>
                 <td id="field6"><label for="LASTCELLID">LASTCELLID</label></td>
                 <td id="input6"><input type="text" class="input-medium" id="LASTCELLID" name="LASTCELLID"/></td>
                 <td id="sample6">34762</td>
             </tr>

            <tr>
                <td id="name14">通話時間</td>
                <td id="field14"><label for="CALLDURATION">CALLDURATION</label></td>
                <td id="input14"><input type="text" class="input-medium" id="CALLDURATION" name="CALLDURATION" /></td>
                <td id="sample14">11</td>
            </tr>

            </tbody>
        </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </fieldset>
</form>
<p></p>
        </div>
    </div>
</div>


<% if (resp) { %>
<h3>搜尋結果</h3></br>
<% if (resp.length == 0) { %>
<h4> 查無資料!</h4>
<% } else /*if (resp.length < 20)*/{%>
<h4> 回傳 <%= resp.length %> 筆</h4>

<table class="table table-hover table-condensed">
    <caption></caption>
    <thead>
    <tr>
    <tr>
        <th>query</th>
    </tr>
    </thead>
    <tbody>
    <% resp.forEach( function(body){ %>
    <tr>
        <%= JSON.stringify(body)%>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>
<% } else { %>
<h3>總量 : <%= totalcount %>筆資料</h3>
<% } %>

</body>
</html>